/* Style global */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo 2', cursive;
}

body {
	background-color: #f8f8f8;
}

h3 {
	text-align: center;
	font-size: 28px;
	color: white;
	margin: 2% 0 4% 0;
	background-color: #1f2931;
}
/* Fin style global */
/* Debut du header */
header {
	background-image: url('http://iwallpapers2.free.fr/images/Paysages/Hiver/Magnifique_fond_ecran_HD_-_Hiver.jpg');
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-content: center;
}
header h1 {
	text-align: center;
	font-size: 40px;
	position: relative;
	top: 30vh;
	color: white;
	font-weight: lighter;
}

header h2 {
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 30vh;
	color: white;
	font-weight: lighter;
}
/* Fin header */

main {
	background-color: #c8d6e5;
	padding-bottom: 4%;
}
/* Debut de la partie presentation */

#presentation{
	padding: 2% 2%;
	border-radius: 7px;
}
#presentation article{
	text-align: center;
}
#presentation p {
	font-size: 24px;
	color: #37474f;
}
#presentation img {
	box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.45);
	border-radius: 10px;
}
#presentation figcaption {
	color: #37474f;
	padding: 20px 0;
	font-size: 18px;
}
@media screen and (max-width: 575px){
	#presentation figure{
		order: -1;
	}
}
/* Fin de la partie presentation */

/* Aperçu graphique */

#apercu {
	text-align: center;
}
#apercu article article {
	justify-content: center;
}
#apercu figure {
	margin: 0 0 10px 0;
	width: calc(100% / 3 - 40px);
}
#apercu img {
	border-radius: 10px;
	box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.47);
}
#apercu figcaption {
	color: #37474f;
	margin: 20px 0;
}
#apercu a {
	text-decoration: none;
	margin: 40px;
	padding: 20px;
	font-size: 30px;
	display: inline-block;
	color: #fff;
	border-radius: 15px;
	background-color: rgba(127, 120, 161, 0.5);
	box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.47);
}
@media screen and (max-width: 991px) {
	#apercu article article {
		justify-content: center;
	}
	#apercu figure {
		width: calc(100% / 2 - 40px);
	}
}
@media screen and (max-width: 768px){
	#apercu article article{
		flex-direction: column;
		align-items: center;
	}
}
/* Fin de la partie apercu */
/* Debut de la aprtie formation */

#formation {
	text-align: center;
	padding-bottom: 50px;
}
#formation .card{
	align-items: center;
	min-width: 250px;
	margin: 0 10px;
	background-color: inherit;
	border:inherit;
}
#formation div {
	justify-content: center;
}
#formation img {
	border-radius: 10px;
	width: 150px;
	height: 150px;
}
#formation figcaption {
	color: #37474f;
}

/* fin de la partie formation */
/* debut de la partie competence */

#competences {
	text-align: center;
}

#competences h3 {
	margin-bottom: 40px;
}

#competences figure {
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	#competences figure {
		width: 25%;
	}
}

@media (min-width: 992px) {
	#competences figure {
		width: 20%;
	}
}

#competences:after {
	content: "";
	display: table;
	clear: both;
}

#competences img {
	border-radius: 10px;
	width: 150px;
	height: 150px;
}

#competences figcaption {
	font-size: 20px;
}

#competences figure:first-of-type figcaption {
	color: #218fcc;
}

#competences figure:nth-of-type(2) figcaption {
	color: #fbb03b;
}

#competences figure:nth-of-type(3) figcaption {
	color: #ff00ff;
}

#competences figure:nth-of-type(4) figcaption {
	color: #8915e5;
}

#competences figure:nth-of-type(5) figcaption {
	color: #f98800;
}

#competences figure:nth-of-type(6) figcaption {
	color: #69ea44;
}

#competences figure:nth-of-type(7) figcaption {
	color: #ea5050;
}

#competences figure:nth-of-type(8) figcaption {
	color: #20c6a6;
}

#competences figure:nth-of-type(9) figcaption {
	color: #8c6239;
}

#competences figure:nth-of-type(10) figcaption {
	color: #ff7bac;
}

/* fin de la partie competence */
/* debut de la apartie experiences */
#experiences{
	margin: 4% 0;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

#experiences .container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	margin-left: 0px !important;
}

#experiences .container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.right::after {
	left: -16px;
}

.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

@media all and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}

	#experiences .container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	#experiences .container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after, .right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}
}

/* fin de la partie experiences */
/* debut de la partie contact */

#contact {
	text-align: center;
	background-image: url('../images/footer.png');
	background-position-y: 400px;
	background-color: rgb(127, 120, 161);
}

#contact a {
	font-size: 30px;
	margin: 50px;
	padding: 20px 100px;
	display: inline-block;
	color: white;
	background-color: rgba(127, 120, 161, 0.5);
	box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.47);
	border-radius: 10px;
	text-decoration: none;
}

/* fin de la partie contact */
/* Début du footer */

footer {
	background-color: #1f2931;
}
footer section {
	display: flex;
	justify-content: space-around;
}
footer article {
	display: inline-block;
	margin: 50px;
}

footer article:first-of-type {
	margin: 70px 0 0 0;
	padding: 20px 0 0 0;
}

footer article a {
	color: #aaadb0;
	text-decoration: none;
}

footer article:first-of-type a img {
	display: inline-block;
	margin: 0 0 10px 20px;
	width: 45px;
	height: 45px;
}

footer article:nth-of-type(2) img {
	width: 300px;
	height: auto;
}

footer article:last-of-type a {
	display: block;
}

footer article h4 {
	margin-bottom: 10px;
	color: white;
}

@media screen and (max-width:750px){
	footer section{
		flex-direction: column;
		align-items: center;
	}
}
/* Fin du footer */
/* Page creation graphique */


#crea {
	text-align: center;
}

#crea figure {
	display: inline-block;
	margin: 0 30px 10px 30px;
}

#crea img {
	border-radius: 10px;
	box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.47);
}

#crea figcaption {
	color: #37474f;
	margin: 20px 0;
}

#crea a {
	text-decoration: none;
	margin: 40px;
	padding: 20px;
	font-size: 30px;
	display: inline-block;
	color: #fff;
	border-radius: 15px;
	background-color: rgba(127, 120, 161, 0.5);
	box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.47);
}

/* Fin de la page crea */
/* page contact */

#form {
	margin: 50px auto;
	width: 550px;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

label {
	display: inline-block;
	width: 70px;
	text-align: right;
	color: #37474f;
}

input, textarea {
	font: 1em sans-serif;
	width: 400px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
	margin: 1em 0;
	border-radius: 3px;
}

input:focus, textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: middle;
	height: 10em;
	resize: vertical;
}

.button {
	padding-left: 90px;
	text-align: center;
}

.button>input {
	margin: 20px;
	display: inline-block;
	width: 100px;
	background-color: #F8F8F8;
	padding: 5px;
	border-radius: 5px;
	color: #37474f;
}

.button>input:hover {
	background-color: white;
	transition: 0.5s;
}
/* fin de la page contact */
/*  page form-contact */

#form-contact {
	margin: 50px auto;
	width: 500px;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

#form-contact td {
	color: #37474f;
}
/* fin de la page form-contact */